body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

#authenticationDropdown{
  width: fit-content!important;
  left: unset!important;
  height: auto!important;
  position: absolute!important;
  right: 0;
  top: 65px!important;
}

.page-footer{
  padding-top: 0;
}

.page-footer .row{
  margin-bottom: 0;
}

.copyrights{
  font-size: 1rem;
}

.social-network{
  text-align: center;
}

.social-network a{
  padding: 0 20px;
}

.up{
  height: 52px;
  text-align: center;
  position: relative;
}

.up a{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  margin-left: -12px;
}

.subSelect{
  margin: 0;
}

.subSelect .caret {
  fill: #fff;
}

.subSelect input {
  border-bottom: 3px solid white !important;
  color: white; 
}

.subRech {
  background-color: white;
  padding-left: 1rem;
}

.subRech .caret {
  fill: #2699FB;
}

.subRech .select-wrapper input.select-dropdown{
  padding: 4px 0; 
}

.subRech .select-wrapper+label{
  color: #fff;
  top: -40px;
  font-size: 15px;
}

.dropdown-content li>span, .dropdown-content li>a{
  color: #2699FB!important;
}

.subRech .select-wrapper .dropdown-content{
  margin-left: -15px!important;
  width: calc(100% + 15px)!important;
  left: 0!important;
}

.form-container{
  padding: 0 5rem!important;
  margin: 20px 0;
}

.form-container>.container-fluid>.row, .form-container>.container-fluid>.row>.col>.container-fluid>.row{
  margin-bottom: 0;
}

.form-container .row{
  margin-top: 20px;
}

.form-container .row:first-child{
  margin-top: 0;
}

.subRech input {
  color: #2699FB;
  border-bottom: 0 !important;
}

.notSearch{
  margin-top: 30px;
}

.validationForm {
  color: #2699FB; 
  border-style: solid; 
  border-color: #2699FB;
  border-width: 2px;
  border-radius: 5px;
  line-height: normal;
  height: auto;
  padding: 10px 20px;
  font-weight: 500;
}

.search-section{
  margin-bottom: -35px;
  text-align: center;
  margin-top: 20px;
}

.subRech-container{
  margin-top: 40px;
}

.etc-container{
  height: 0;;
}

.etc-wrapper {
  float: right;
  margin-top: 45px;
  margin-right: 15px;
}

.etc {
  border: 2px solid #fff;
  font-weight: bold;
  background: #fff;
  color: #2196F3;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.etc.active{
  background: transparent;
  color: #fff;
}

.disabled{
  display: none;
}

.lien-connec {
  color: #fff;
}
.text-container{
  background-color: #fff;
  padding: 1px 20px 0 20px!important;
  margin-top: 20px;
}

.text-container .input-field, .subRech .input-field{
  margin: 0;
}

.text-container .input-field input{
  margin: 4px 0;
}

.text-container .input-field>label:not(.label-icon).active{
  color: white;
  font-size: 20px;
  margin-top: -10px;
  line-height: 20px;
}

.text-container label{
  color: #2196F3
}

.text-container input{
  box-shadow: none!important;
  border: none!important;
}

a{
  color:#fff;
}

.link{
  margin: 30px 0 10px;
}

.link .input-field{
  margin: 0;
}
