body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
      padding-top: 0;
  }

  .page-footer .row{
      margin-bottom: 0;
  }

  .social-network{
      text-align: center;
  }

.up{
    height: 52px;
    text-align: center;
    position: relative;
  }

.up a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin-left: -12px;
  }

  .social-network a{
      padding: 0 20px;
  }

  .copyrights{
    font-size: 1rem;
  }

  main{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .subSelect input {
    border-bottom: 3px solid white !important;
    color: white; 
  }

  .subRech {
    background-color: white;
    padding-left: 1rem;   
  }

  .subRech input {
    color: #2699FB;
    border-bottom: 0 !important;
  }

  #search_search {
    color: #2699FB; 
    border-style: solid; 
    border-color: #2699FB;
    border-radius: 5px;
  }

  #laZoneDeRecherche {
    position: relative;
    padding: 0 5rem;
  }

  #search-button {
    position: absolute;
    bottom: -10%;
    left: 41%;
    font-style: bold;
  }
  
  #etc-wrapper {
    position: absolute;
    width: 100%;
  }

  #etc {
    border: 2px solid #fff;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    float: right;
  }