{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <div class="row blue">
            <div class="col l12">
                <p>tsst</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
