<footer class="page-footer blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col l3">
                <h5 class="white-text copyrights">© 2019 Studiz</h5>
            </div>
            <div class="col l6 social-network">
                <h5 class="white-text">
                    <a href="#"><img src="{{ asset('images/instagram-logo.png') }}" /></a>
                    <a href="#"><img src="{{ asset('images/twitter-logo.png') }}" /></a>
                    <a href="#"><img src="{{ asset('images/facebook-logo.png') }}" /></a>
                </h5>
            </div>
            <div class="col offset-l2 l1 blue lighten-3 up">
                <a href="#"><i class="material-icons">arrow_upward</i></a>
            </div>
        </div>
    </div>
</footer>